<div class="col-md-12 col-sm-12">
  <h3>
    Student Detail - {{ student.givenName }} {{ student.familyName }},
    {{ student.studentId }} &nbsp;
  <!-- <a class="btn btn-default" routerLink="/students">Back to list</a> -->
  </h3>
  <p>&nbsp;</p>

  <div class="raw">
    <div class="col-md-8 col-sm-12">
       <!-- Displaying students information -->
      <dl class="dl-horizontal">
        <dt>Student ID</dt>
        <dd>{{ student.studentId }}</dd>
        <dt>Name</dt>
        <dd>{{ student.familyName }}, {{ student.givenName }}</dd>
        <dt>Academic program</dt>
        <dd>
          {{ student.academicProgram }}, level {{ student.academicLevel }}
        </dd>
        <dt>Grade point average</dt>
        <dd>{{ student.gpa }}</dd>
        <hr />

        <dt>Tentative courses</dt>
        <dd>
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Term</th>
                <th>Course</th>
                <th>Day and time</th>
              </tr>
            </thead>
            <tbody *ngIf="!!student.coursesSaved">
               <!-- looping through students saved courses if there are any -->
              <tr *ngFor="let s of student.coursesSaved">
                <td>{{ s.term }}</td>
                <td>{{ s.courseCode + " - " + s.section }}</td>
                <td>
                  <span *ngIf="s.classMon == 'Y'">Monday - </span>
                  <span *ngIf="s.classTue == 'Y'">Tuesday - </span>
                  <span *ngIf="s.classWed == 'Y'">Wednesday - </span>
                  <span *ngIf="s.classThu == 'Y'">Thursday - </span>
                  <span *ngIf="s.classFri == 'Y'">Friday - </span>
                  {{ s.classStart + " to " + s.classEnd }}
                </td>
              </tr>
            </tbody>
          </table>
        </dd>
        <hr />

        <dt>Confirmed Courses</dt>
        <dd>
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Term</th>
                <th>Course</th>
                <th>Times</th>
              </tr>
            </thead>
            <tbody *ngIf="!!student.coursesConfirmed">
                  <!-- looping through students confirmed courses if there are any -->
              <tr *ngFor="let c of student.coursesConfirmed">
                <td>{{ c.term }}</td>
                <td>{{ c.courseCode + " - " + c.section }}</td>
                <td>
                  <span *ngIf="c.classMon == 'Y'">Monday - </span>
                  <span *ngIf="c.classTue == 'Y'">Tuesday - </span>
                  <span *ngIf="c.classWed == 'Y'">Wednesday - </span>
                  <span *ngIf="c.classThu == 'Y'">Thursday - </span>
                  <span *ngIf="c.classFri == 'Y'">Friday - </span>
                  {{ c.classStart + " to " + c.classEnd }}
                </td>
              </tr>
            </tbody>
          </table>
        </dd>
        <hr />

        <dt *ngIf="!!student.credits">
          Course history <br />
          ({{ student.credits.length }} Credits)
        </dt>
        <dd>
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Term</th>
                <th>Grade</th>
                <th>Course</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- looping through student credits -->
              <tr *ngFor="let p of student.credits">
                <td>{{ p.termCompleted }}</td>
                <td>{{ p.gradeEarned }}</td>
                <td>{{ p.courseCode }}</td>
                <td>{{ p.courseName }}</td>
              </tr>
            </tbody>
          </table>
        </dd>
        <div>
          <hr />
        <!--  <a class="btn btn-default" routerLink="/students"> Back to list</a> -->
        </div>
      </dl>
    </div>

    <div class="col-md-4 col-sm-12">
      <p>Select courses for next term</p>
      <a class="btn btn-primary" routerLink="/cart-select"> Select courses</a>
    </div>
  </div>
</div>
